header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875rem;
    background: transparent;
    transition: all 0.2s ease;
}

header.black {
    background-color: #141414;
}

.header--logo {
    height: 1.5625rem;
}

.header--logo img {
    height: 100%;
}

.header--user {
    height: 2.5rem;
}

.header--user img {
    height: 100%;
    border-radius: 0.1875rem;
}