.movieRow {
    margin-bottom: 1.875rem;
}

.movieRow h2 {
    margin: 0 0 0 1.875rem;
}

.movieRow--listarea {
    overflow-x: hidden;
}

.movieRow--list {
    width: 99999px;
}

.movieRow--item {
    display: inline-block;
    width: 9.375rem;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow--item img:hover {
    transform: scale(1);
}