header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 1.25rem;
}

header ul li a {
    text-decoration: none;
    padding: 0.375rem 0.9375rem;
    color: #fff;
    border-radius: 1.25rem;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

.section {
    position: relative;
    width: 100%;
    height: 60rem;
    padding: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.25rem;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.section img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.section img.moon {
    mix-blend-mode: screen;
}


.section img.mountainsF {
    z-index: 10;
}

.text {
    position: absolute;
    right: -11rem;
    top: 12.1rem;
    color: #fff;
    white-space: nowrap;
    font-size: 7rem;
    z-index: 9;
    transform: translateY(6.25rem);
}

.btn {
    position: absolute;
    top: 15rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1.875rem;
    border-radius: 2.5rem;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(6rem);
}

.sec {
    position: relative;
    padding: 6.25rem;
    background: #1c0522;
}

.sec h2 {
    font-size: 3.5rem;
    margin-bottom: 0.625rem;
    color: #fff;
}

.sec p {
    font-size: 1rem;
    color: #fff;
}
