.canais {
    position: relative;
    align-items: center;
    display: block;
}

.chDiscord {
    position: relative;
}

.title {
    text-align: center;
    position: relative;
}

.goDisc {
        position: relative;
        align-items: center;
}