.sideMenu {
    position: fixed;
    background: var(--gray-700);
    width: 18.75rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1.875rem 1.25rem;
}

.topSection {
    position: relative;
}

.toggleMenuBtn {
    color: var(--gray-400); 
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
